<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Mail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="card ms-5 mt-5 me-5 mb-5 p-5">
        <p>Dear, Admin</p>
        <p>Please Find the Attached Report for <strong>Jun 2026</strong> Month</p>

        <div class="card">

            <div class="card-header">
                Bookings
            </div>
            <div class="card-body">
                <table class="table border">
                    <thead>
                        <tr>

                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Professional Name</th>
                            <th scope="col">Professional Email</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>User1</td>
                            <td>user1@gmail.com</td>
                            <td>prof1</td>
                            <td>prof1@gmail.com</td>
                            <td>2026-06-25</td>
                            <td>11:30:00</td>
                            <td>Booked</td>

                        </tr>

                        <tr>
                            <td>User1</td>
                            <td>user1@gmail.com</td>
                            <td>prof2</td>
                            <td>prof2@gmail.com</td>
                            <td>2026-06-26</td>
                            <td>10:30:00</td>
                            <td>Booked</td>

                        </tr>
                        
                        <tr>
                            <td>user2</td>
                            <td>user2@gmail.com</td>
                            <td>prof1</td>
                            <td>prof1@gmail.com</td>
                            <td>2026-06-27</td>
                            <td>11:30:00</td>
                            <td>Booked</td>

                        </tr>
                        
                        <tr>
                            <td>user2</td>
                            <td>user2@gmail.com</td>
                            <td>prof2</td>
                            <td>prof2@gmail.com</td>
                            <td>2026-06-26</td>
                            <td>10:30:00</td>
                            <td>Booked</td>

                        </tr>
                        
                        <tr>
                            <td>User1</td>
                            <td>user1@gmail.com</td>
                            <td>prof2</td>
                            <td>prof2@gmail.com</td>
                            <td>2026-06-29</td>
                            <td>15:53:00</td>
                            <td>Booked</td>

                        </tr>

                        <tr>
                            <td>User1</td>
                            <td>user1@gmail.com</td>
                            <td>prof1</td>
                            <td>prof1@gmail.com</td>
                            <td>2026-06-30</td>
                            <td>22:03:00</td>
                            <td>Booked</td>

                        </tr>
                        
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>